In [1]:
from __future__ import division

import pandas as pd
import numpy as np

In [2]:
benchmark = pd.read_csv('benchmark.csv')

In [8]:
benchmark.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22873 entries, 0 to 22872
Data columns (total 2 columns):
USER_ID_hash         22873 non-null object
PURCHASED_COUPONS    22833 non-null object
dtypes: object(2)
memory usage: 536.1+ KB

In [4]:
benchmark[benchmark['PURCHASED_COUPONS'].isnull()]

                           USER_ID_hash PURCHASED_COUPONS
929    0aa3ad3ad9f8f5455d94d10f711f340c               NaN
2203   18a9503065bba3b294249b39a498a325               NaN
2731   1e3dfda72166740a8041212e6e98dd7a               NaN
2824   1f51bc2422ce79fec91e2fc66bb28d03               NaN
2877   1fe74103ba1d127445af7f4905173141               NaN
2896   2020c1ce40119a48cc23281ed61985a5               NaN
3000   211b4ff405ca621652df03e7dd2e6b12               NaN
3864   2afae5db6fa579a0780fc2059f6ddd34               NaN
5307   3be924043f64ca2503ed0f1af8ba5558               NaN
5771   4148480f120ebc38eb760b66c2c0bb74               NaN
6053   44b2d9008d20727fd0f1dd7bcad1ae67               NaN
6379   484650287e7d4095a57a1940191886f3               NaN
7255   519dec6272ceee9451aaa4b43915a458               NaN
7560   552ad4da4e825de84b1afb6289c138ee               NaN
8507   5fc9c05ec3a038d56faf36baa7d33acf               NaN
8618   6114083e0a0045d135aa80e000ae4afa               NaN
8661   6168a7883b13479db3d87a7e991d5735               NaN
9139   66e661b3b2a4a3ba961bb3c1613b2bcb               NaN
10900  7a10712ff9fb1daa3be900b7aa55fe32               NaN
11094  7c35af1978bd0d6cffcc49400a989eb5               NaN
11216  7d6f64016b1d8bdf02a6cbe149d7cfab               NaN
12118  86e22ea18f5d4558818c50bbaf7c009d               NaN
12746  8da48842b9462e1c99252ae37279e297               NaN
12779  8e0d7f4cdb2e4550c68a0dd4cb85f45e               NaN
13109  91c924b2a6967021beae70c3cbb7f2ca               NaN
13299  93c7029756e720aaedc8581848f3ea23               NaN
14223  9e183f01d82ac8bf653a679a68848adc               NaN
14262  9e795f533831341f1c1d21d9b83ff4e7               NaN
14768  a430df69523d291460db24b076297d81               NaN
15502  ac35ac2b5be94d7c186b4be81a8aea8b               NaN
15674  ae1f18874b581746d723140975f3667e               NaN
16654  b93ef5b5782c063f9ce52cceaba2f23e               NaN
17287  c068d179b8e1f82205949d0c7d91c7ca               NaN
17394  c198deabad4c51b20dc85625cdc8a351               NaN
17532  c31c8652cf967bda0c952f444fd1b995               NaN
19218  d6258f6d0cf8415fcc8d96f726836816               NaN
20189  e14aeda5f2629698dc2003392191374b               NaN
20603  e6328b1b60386b705ba6d93db2ca285b               NaN
22071  f6cfc95a010eb279829c14efe11da85e               NaN
22826  ff81d7ccb52b6510b8a5d98ffa26319c               NaN

In [10]:
# split = benchmark.copy()
# split['PURCHASED_COUPONS'].apply(lambda x : x.split(' '))

# WRONG APPROACH! USE MOST POPULAR OF **TEST** COUPONS

In [11]:
visit = pd.read_csv('coupon_visit_train.csv')
visit.drop(['PAGE_SERIAL', 'REFERRER_hash', 'SESSION_ID_hash', 'I_DATE'], axis = 1, inplace = True)

visit = visit.drop_duplicates()

In [12]:
index_id = visit.drop_duplicates().groupby(['USER_ID_hash', 'VIEW_COUPON_ID_hash']).sum().reset_index()
index_id['PURCHASE_FLG'] = index_id['PURCHASE_FLG'].map(lambda x: 1 if x > 0 else 0)
index_id.rename(columns={'VIEW_COUPON_ID_hash' : 'COUPON_ID_hash'}, inplace = True)
index_id.head()

,USER_ID_hash,COUPON_ID_hash,PURCHASE_FLG
0,0000b53e182165208887ba65c079fc21,0645faa156f34104e6d8910160868f9f,0
1,0000b53e182165208887ba65c079fc21,18097cd25ab6b7e8eb0481b0e3a3cfd8,0
2,0000b53e182165208887ba65c079fc21,1b581f2ed53f2f2eafbc1560db640194,0
3,0000b53e182165208887ba65c079fc21,1d04e76c44c231d5d05dc1634d20fe8c,0
4,0000b53e182165208887ba65c079fc21,2962b9f2ec7ecde9daddf53dd3118526,0

## coupon_detail_train.csv

In [13]:
detail = pd.read_csv('coupon_detail_train.csv')
detail.drop(['ITEM_COUNT', 'I_DATE', 'SMALL_AREA_NAME', 'PURCHASEID_hash'], axis = 1, inplace = True)
detail['PURCHASE_FLG'] = 1
detail.head()

,USER_ID_hash,COUPON_ID_hash,PURCHASE_FLG
0,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a,1
1,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7,1
2,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2,1
3,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2,1
4,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2,1

In [14]:
index_id = pd.concat([index_id, detail]).drop_duplicates()

In [15]:
index_id.drop('USER_ID_hash', axis = 1, inplace = True)

In [19]:
index_id = index_id.groupby('COUPON_ID_hash').aggregate(sum).reset_index()

In [23]:
popular = index_id.sort('PURCHASE_FLG', ascending = False).head(10)

In [25]:
popular = list(popular['COUPON_ID_hash'])

In [29]:
popular = ' '.join(popular)

In [30]:
popular

'a262c7ff56a5cd3de3c5c40443f3018c 3d9029d3ec66802b11ee2645dc16e8cb 09411858ae07c0be91aeeddacf4556b4 7fc6567f470af5356ae97097dbe18486 bf69bd9e0e26fa1f62243d1fcada38f1 047fb1f23d8cedea8cb86956cfd4b7cf 36addcc4b958135895c859d8783e3cd2 3e6d617c55328b761d62510167c43c08 229ff5cc21c8d26615493be7f3b42841 4a79cd05ecb2bf8672e1d955f5faa7fa'

In [32]:
modified = benchmark.fillna(popular)

In [33]:
modified[modified['PURCHASED_COUPONS'].isnull()]

Empty DataFrame
Columns: [USER_ID_hash, PURCHASED_COUPONS]
Index: []

In [34]:
modified.to_csv('modified_benchmark.csv', index = False)