In [1]:
from __future__ import division

import pandas as pd
import numpy as np
import sys

sys.path.append('/home/galina/PythonProjects/common_functions')
import preprocess

In [2]:
start_time = pd.to_datetime('2011-06-27')
end_time = pd.to_datetime('2012-12-30')
time_length = int((end_time - start_time).days)

## user_list.csv

In [3]:
users = pd.read_csv('user_list.csv', index_col = None)
users.drop('PREF_NAME', axis = 1, inplace = True)
users['SEX_ID'] = users['SEX_ID'].map({'f':0, 'm': 1})

users['REG_DATE'] = pd.to_datetime(users['REG_DATE'])
users['WITHDRAW_DATE'] = pd.to_datetime(users['WITHDRAW_DATE'])
users['WITHDRAW_DATE'] =users['WITHDRAW_DATE'].fillna(end_time)

# REG_DATE to number of days since start time. Negative numbers to zero.
users['REG_DATE'] = users['REG_DATE'].map(lambda x : 0 if x < start_time else (x - start_time).days)
users['WITHDRAW_DATE'] = users['WITHDRAW_DATE'].map(lambda x : (x - start_time).days)

In [4]:
# users that deactivated their accounts before test coupons became valid. Can be shown nothing (or anything?)
users_withdraw = set(users[users['WITHDRAW_DATE'] < 367])
len(users_withdraw)

5

## coupon_list_train_translated.csv
## coupon_list_test_translated.csv

In [46]:
train = pd.read_csv('coupon_list_train_translated.csv', index_col = None)
train['test'] = 0
test = pd.read_csv('coupon_list_test_translated.csv', index_col = None)
test['test'] = 1

joined = pd.concat([train, test])

In [47]:
train.count()

CAPSULE_TEXT                  19413
GENRE_NAME                    19413
PRICE_RATE                    19413
CATALOG_PRICE                 19413
DISCOUNT_PRICE                19413
DISPFROM                      19413
DISPEND                       19413
DISPPERIOD                    19413
VALIDFROM                     13266
VALIDEND                      13266
VALIDPERIOD                   13266
USABLE_DATE_MON               12408
USABLE_DATE_TUE               12408
USABLE_DATE_WED               12408
USABLE_DATE_THU               12408
USABLE_DATE_FRI               12408
USABLE_DATE_SAT               12408
USABLE_DATE_SUN               12408
USABLE_DATE_HOLIDAY           12408
USABLE_DATE_BEFORE_HOLIDAY    12408
large_area_name               19413
ken_name                      19413
small_area_name               19413
COUPON_ID_hash                19413
test                          19413
dtype: int64

In [48]:
for col in test.iloc[:, 11:20]:
    print col, len(test[test[col] == 2 ])

USABLE_DATE_MON 2
USABLE_DATE_TUE 7
USABLE_DATE_WED 2
USABLE_DATE_THU 0
USABLE_DATE_FRI 8
USABLE_DATE_SAT 46
USABLE_DATE_SUN 11
USABLE_DATE_HOLIDAY 11
USABLE_DATE_BEFORE_HOLIDAY 37

In [49]:
for col in train.iloc[:, 11:20]:
    print col, len(train[train[col] == 2 ])

USABLE_DATE_MON 224
USABLE_DATE_TUE 339
USABLE_DATE_WED 185
USABLE_DATE_THU 133
USABLE_DATE_FRI 635
USABLE_DATE_SAT 2416
USABLE_DATE_SUN 667
USABLE_DATE_HOLIDAY 630
USABLE_DATE_BEFORE_HOLIDAY 2059

In [50]:
# USABLE_DATE_SOMETHING: replace 2 and NaN with 1
for col in joined.iloc[:, 11:20]:
    joined[col] = joined[col].map({0:0, 1:1, 2:1})
    joined[col] = joined[col].fillna(1)

In [51]:
# drop DISPEND and VALIDEND (because start and length are known)

joined.drop('DISPEND', axis = 1, inplace = True)
joined.drop('VALIDEND', axis = 1, inplace = True)

In [52]:
# when valid period unknown, assume it's the same as dispensing period

joined['VALIDFROM'] = joined['VALIDFROM'].fillna(joined['DISPFROM'])
joined['VALIDFROM'] = joined['VALIDFROM'].fillna(joined['DISPFROM'])

In [53]:
# DISPFROM to number of days since start time

joined['DISPFROM'] = pd.to_datetime(joined['DISPFROM'])
joined['DISPFROM'] = joined['DISPFROM'].map(lambda x: (x - start_time).days)

In [54]:
# VALIDFROM to number of days since start time

joined['VALIDFROM'] = pd.to_datetime(joined['VALIDFROM'])
joined['VALIDFROM'] = joined['VALIDFROM'].map(lambda x: (x - start_time).days)

In [55]:
train = joined[joined['test'] == 0].drop('test', axis = 1)
test = joined[joined['test'] == 1].drop('test', axis = 1)

In [56]:
joined.head()

,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPPERIOD,VALIDFROM,VALIDPERIOD,USABLE_DATE_MON,...,USABLE_DATE_FRI,USABLE_DATE_SAT,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,large_area_name,ken_name,small_area_name,COUPON_ID_hash,test
0,Food,Food,50,3000,1500,11,1,13,151,1,...,0,0,1,1,0,関東,埼玉県,埼玉,6b263844241eea98c5a97f1335ea82af,0
1,Food,Food,51,2080,1000,4,1,6,154,1,...,1,1,1,1,1,関東,千葉県,千葉,cc031f250e8bad1e24060263b9fc0ddd,0
2,Food,Food,50,7000,3500,15,3,19,179,0,...,1,1,1,1,1,関東,千葉県,千葉,ba5e9b7453ca52ff711635a5d2e8102d,0
3,Food,Food,50,3000,1500,12,2,15,142,1,...,0,0,1,1,1,関東,千葉県,千葉,3e1ffbedca3569f9e8032d401e8cb4e6,0
4,Food,Food,50,2000,1000,8,1,10,176,1,...,0,0,1,1,0,関東,千葉県,千葉,782934b6c815b4030ea204eef7d4a734,0

In [57]:
joined_couponID = set(joined['COUPON_ID_hash'].unique())
train_couponID = set(train['COUPON_ID_hash'].unique())
test_couponID = set(test['COUPON_ID_hash'].unique())

## coupon_visit_train.csv

In [58]:
visit = pd.read_csv('coupon_visit_train.csv')
visit.drop(['PAGE_SERIAL', 'REFERRER_hash', 'SESSION_ID_hash', 'I_DATE'], axis = 1, inplace = True)

visit = visit.drop_duplicates()

In [59]:
index_id = visit.drop_duplicates().groupby(['USER_ID_hash', 'VIEW_COUPON_ID_hash']).sum().reset_index()
index_id['PURCHASE_FLG'] = index_id['PURCHASE_FLG'].map(lambda x: 1 if x > 0 else 0)
index_id.rename(columns={'VIEW_COUPON_ID_hash' : 'COUPON_ID_hash'}, inplace = True)
index_id.head()

,USER_ID_hash,COUPON_ID_hash,PURCHASE_FLG
0,0000b53e182165208887ba65c079fc21,0645faa156f34104e6d8910160868f9f,0
1,0000b53e182165208887ba65c079fc21,18097cd25ab6b7e8eb0481b0e3a3cfd8,0
2,0000b53e182165208887ba65c079fc21,1b581f2ed53f2f2eafbc1560db640194,0
3,0000b53e182165208887ba65c079fc21,1d04e76c44c231d5d05dc1634d20fe8c,0
4,0000b53e182165208887ba65c079fc21,2962b9f2ec7ecde9daddf53dd3118526,0

In [60]:
# number of used coupons
len(index_id[index_id['PURCHASE_FLG'] == 1]['COUPON_ID_hash'].unique())

17183

## coupon_detail_train.csv

In [61]:
detail = pd.read_csv('coupon_detail_train.csv')
detail.drop(['ITEM_COUNT', 'I_DATE', 'SMALL_AREA_NAME', 'PURCHASEID_hash'], axis = 1, inplace = True)
detail['PURCHASE_FLG'] = 1
detail.head()

,USER_ID_hash,COUPON_ID_hash,PURCHASE_FLG
0,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a,1
1,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7,1
2,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2,1
3,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2,1
4,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2,1

In [62]:
index_id = pd.concat([index_id, detail]).drop_duplicates()

In [63]:
# number of used coupons
len(index_id[index_id['PURCHASE_FLG'] == 1]['COUPON_ID_hash'].unique())

19368

In [64]:
# users that only viewed coupons but didn't purchase anything.

users_view = index_id.groupby('USER_ID_hash').sum().reset_index()
users_view = users_view[users_view['PURCHASE_FLG'] == 0]
users_view = set(users_view['USER_ID_hash'])
len(users_view)

51

In [65]:
print 'Number of pairs user-coupon:', len(index_id)
print 'Number of purchases in these pairs:', len(index_id[index_id['PURCHASE_FLG'] == 1])
# Number of purchases much larger than number of coupons. Many coupons were used multiple times

Number of pairs user-coupon: 1904630
Number of purchases in these pairs: 158933

In [66]:
big = joined.merge(index_id)
big = big.merge(users)

In [67]:
# number of used coupons in merged data (sanity check)
len(big[big['PURCHASE_FLG'] == 1]['COUPON_ID_hash'].unique())

19368

# Create new training data

In [68]:
big_train = big[big['test'] == 0]

# number of used coupons in train set
len(big_train[big_train['PURCHASE_FLG'] == 1]['COUPON_ID_hash'].unique())

19368

In [69]:
target = big_train['PURCHASE_FLG']
big_train.drop(['PURCHASE_FLG', 'test', 'COUPON_ID_hash', 'USER_ID_hash'], axis = 1, inplace = True)

/usr/local/lib/python2.7/dist-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app

In [70]:
big_train.head()

,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPPERIOD,VALIDFROM,VALIDPERIOD,USABLE_DATE_MON,...,USABLE_DATE_SUN,USABLE_DATE_HOLIDAY,USABLE_DATE_BEFORE_HOLIDAY,large_area_name,ken_name,small_area_name,REG_DATE,SEX_ID,AGE,WITHDRAW_DATE
0,Food,Food,50,3000,1500,11,1,13,151,1,...,1,1,0,関東,埼玉県,埼玉,0,1,42,552
1,Food,Food,50,8000,3980,4,2,8,179,1,...,1,1,1,関東,埼玉県,埼玉,0,1,42,552
2,Other,Other coupon,74,3835,980,14,2,17,90,1,...,1,1,1,関西,大阪府,ミナミ他,0,1,42,552
3,Delivery service,Delivery service,62,4000,1500,10,2,10,NaN,1,...,1,1,1,関西,大阪府,ミナミ他,0,1,42,552
4,Delivery service,Delivery service,66,2980,999,12,2,12,NaN,1,...,1,1,1,関東,東京都,銀座・新橋・東京・上野,0,1,42,552

In [71]:
big_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1654063 entries, 0 to 1654687
Data columns (total 25 columns):
CAPSULE_TEXT                  1654063 non-null object
GENRE_NAME                    1654063 non-null object
PRICE_RATE                    1654063 non-null int64
CATALOG_PRICE                 1654063 non-null int64
DISCOUNT_PRICE                1654063 non-null int64
DISPFROM                      1654063 non-null int64
DISPPERIOD                    1654063 non-null int64
VALIDFROM                     1654063 non-null int64
VALIDPERIOD                   1099978 non-null float64
USABLE_DATE_MON               1654063 non-null float64
USABLE_DATE_TUE               1654063 non-null float64
USABLE_DATE_WED               1654063 non-null float64
USABLE_DATE_THU               1654063 non-null float64
USABLE_DATE_FRI               1654063 non-null float64
USABLE_DATE_SAT               1654063 non-null float64
USABLE_DATE_SUN               1654063 non-null float64
USABLE_DATE_HOLIDAY           1654063 non-null float64
USABLE_DATE_BEFORE_HOLIDAY    1654063 non-null float64
large_area_name               1654063 non-null object
ken_name                      1654063 non-null object
small_area_name               1654063 non-null object
REG_DATE                      1654063 non-null int64
SEX_ID                        1654063 non-null int64
AGE                           1654063 non-null int64
WITHDRAW_DATE                 1654063 non-null int64
dtypes: float64(10), int64(10), object(5)
memory usage: 328.1+ MB

In [72]:
for col in big_train:
    print col, len(big_train[col].unique()), big_train[col].dtype

CAPSULE_TEXT 24 object
GENRE_NAME 13 object
PRICE_RATE 71 int64
CATALOG_PRICE 2415 int64
DISCOUNT_PRICE 1115 int64
DISPFROM 363 int64
DISPPERIOD 18 int64
VALIDFROM 380 int64
VALIDPERIOD 181 float64
USABLE_DATE_MON 2 float64
USABLE_DATE_TUE 2 float64
USABLE_DATE_WED 2 float64
USABLE_DATE_THU 2 float64
USABLE_DATE_FRI 2 float64
USABLE_DATE_SAT 2 float64
USABLE_DATE_SUN 2 float64
USABLE_DATE_HOLIDAY 2 float64
USABLE_DATE_BEFORE_HOLIDAY 2 float64
large_area_name 9 object
ken_name 47 object
small_area_name 55 object
REG_DATE 364 int64
SEX_ID 2 int64
AGE 66 int64
WITHDRAW_DATE 293 int64

In [73]:
big_train = preprocess.split_to_dummies(big_train, 'small_area_name', sep = '\xe3\x83\xbb')

/home/galina/PythonProjects/common_functions/preprocess.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[col] = df[col].apply(lambda s : s.split(sep))
/home/galina/PythonProjects/common_functions/preprocess.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[new_col] = [cat in x for x in df[col]]
/home/galina/PythonProjects/common_functions/preprocess.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[new_col] = df[new_col].apply(int)
/home/galina/PythonProjects/common_functions/preprocess.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df.drop(col, axis = 1, inplace = True)

In [74]:
big_train.head()

,CAPSULE_TEXT,GENRE_NAME,PRICE_RATE,CATALOG_PRICE,DISCOUNT_PRICE,DISPFROM,DISPPERIOD,VALIDFROM,VALIDPERIOD,USABLE_DATE_MON,...,small_area_name_長崎,small_area_name_佐賀,small_area_name_吉祥寺,small_area_name_品川,small_area_name_山梨,small_area_name_高知,small_area_name_川崎,small_area_name_熊本,small_area_name_渋谷,small_area_name_宮崎
0,Food,Food,50,3000,1500,11,1,13,151,1,...,0,0,0,0,0,0,0,0,0,0
1,Food,Food,50,8000,3980,4,2,8,179,1,...,0,0,0,0,0,0,0,0,0,0
2,Other,Other coupon,74,3835,980,14,2,17,90,1,...,0,0,0,0,0,0,0,0,0,0
3,Delivery service,Delivery service,62,4000,1500,10,2,10,NaN,1,...,0,0,0,0,0,0,0,0,0,0
4,Delivery service,Delivery service,66,2980,999,12,2,12,NaN,1,...,0,0,0,0,0,0,0,0,0,0

In [75]:
big_train = preprocess.dummify(big_train)

In [76]:
big_train.columns.values

array(['PRICE_RATE', 'CATALOG_PRICE', 'DISCOUNT_PRICE', 'DISPFROM',
       'DISPPERIOD', 'VALIDFROM', 'VALIDPERIOD', 'USABLE_DATE_MON',
       'USABLE_DATE_TUE', 'USABLE_DATE_WED', 'USABLE_DATE_THU',
       'USABLE_DATE_FRI', 'USABLE_DATE_SAT', 'USABLE_DATE_SUN',
       'USABLE_DATE_HOLIDAY', 'USABLE_DATE_BEFORE_HOLIDAY', 'REG_DATE',
       'SEX_ID', 'AGE', 'WITHDRAW_DATE',
       'small_area_name_\xe5\x8d\x83\xe8\x91\x89',
       'small_area_name_\xe7\xbe\xa4\xe9\xa6\xac',
       'small_area_name_\xe7\x9b\xae\xe9\xbb\x92',
       'small_area_name_\xe6\xa0\x83\xe6\x9c\xa8',
       'small_area_name_\xe7\xa6\x8f\xe5\xb2\xa1',
       'small_area_name_\xe8\x8c\xa8\xe5\x9f\x8e',
       'small_area_name_\xe5\xb1\xb1\xe5\xbd\xa2',
       'small_area_name_\xe9\xba\xbb\xe5\xb8\x83',
       'small_area_name_\xe7\xa7\x8b\xe7\x94\xb0',
       'small_area_name_\xe6\xa8\xaa\xe6\xb5\x9c',
       'small_area_name_\xe3\x82\xad\xe3\x82\xbf',
       'small_area_name_\xe5\xba\x83\xe5\xb3\xb6',
       'small_area_name_\xe5\xae\xae\xe5\x9f\x8e',
       'small_area_name_\xe4\xb8\x89\xe9\x87\x8d',
       'small_area_name_\xe7\xa5\x9e\xe6\xa5\xbd\xe5\x9d\x82',
       'small_area_name_\xe6\x96\xb0\xe6\xa9\x8b',
       'small_area_name_\xe6\x9d\xb1\xe4\xba\xac',
       'small_area_name_\xe6\xbb\x8b\xe8\xb3\x80',
       'small_area_name_\xe7\xae\xb1\xe6\xa0\xb9\xe4\xbb\x96',
       'small_area_name_\xe5\x92\x8c\xe6\xad\x8c\xe5\xb1\xb1',
       'small_area_name_\xe5\xa4\xa7\xe5\x88\x86',
       'small_area_name_\xe6\x84\x9b\xe7\x9f\xa5',
       'small_area_name_\xe6\x81\xb5\xe6\xaf\x94\xe5\xaf\xbf',
       'small_area_name_\xe5\xb2\xa9\xe6\x89\x8b',
       'small_area_name_\xe6\xb1\xa0\xe8\xa2\x8b',
       'small_area_name_\xe5\xb2\x90\xe9\x98\x9c',
       'small_area_name_\xe5\xb3\xb6\xe6\xa0\xb9',
       'small_area_name_\xe5\x8c\x97\xe6\xb5\xb7\xe9\x81\x93',
       'small_area_name_\xe5\xaf\x8c\xe5\xb1\xb1',
       'small_area_name_\xe9\xb3\xa5\xe5\x8f\x96',
       'small_area_name_\xe6\xb9\x98\xe5\x8d\x97',
       'small_area_name_\xe9\xab\x98\xe7\x94\xb0\xe9\xa6\xac\xe5\xa0\xb4',
       'small_area_name_\xe8\xb5\xa4\xe7\xbe\xbd',
       'small_area_name_\xe4\xb8\x8a\xe9\x87\x8e',
       'small_area_name_\xe9\x9d\x92\xe6\xa3\xae',
       'small_area_name_\xe9\x8a\x80\xe5\xba\xa7',
       'small_area_name_\xe7\xab\x8b\xe5\xb7\x9d',
       'small_area_name_\xe7\x94\xba\xe7\x94\xb0',
       'small_area_name_\xe6\xb2\x96\xe7\xb8\x84',
       'small_area_name_\xe5\x85\xb5\xe5\xba\xab',
       'small_area_name_\xe6\x96\xb0\xe6\xbd\x9f',
       'small_area_name_\xe4\xb8\xad\xe9\x87\x8e',
       'small_area_name_\xe9\xa6\x99\xe5\xb7\x9d',
       'small_area_name_\xe3\x83\x9f\xe3\x83\x8a\xe3\x83\x9f\xe4\xbb\x96',
       'small_area_name_\xe5\xb2\xa1\xe5\xb1\xb1',
       'small_area_name_\xe6\x84\x9b\xe5\xaa\x9b',
       'small_area_name_\xe9\x95\xb7\xe9\x87\x8e',
       'small_area_name_\xe5\xbe\xb3\xe5\xb3\xb6',
       'small_area_name_\xe7\xa6\x8f\xe4\xba\x95',
       'small_area_name_\xe5\x85\xad\xe6\x9c\xac\xe6\x9c\xa8',
       'small_area_name_\xe5\x9f\xbc\xe7\x8e\x89',
       'small_area_name_\xe9\x9d\x99\xe5\xb2\xa1',
       'small_area_name_\xe8\x87\xaa\xe7\x94\xb1\xe3\x81\x8c\xe4\xb8\x98',
       'small_area_name_\xe7\xa6\x8f\xe5\xb3\xb6',
       'small_area_name_\xe4\xba\xac\xe9\x83\xbd',
       'small_area_name_\xe7\x9f\xb3\xe5\xb7\x9d',
       'small_area_name_\xe5\xa5\x88\xe8\x89\xaf',
       'small_area_name_\xe5\xb1\xb1\xe5\x8f\xa3',
       'small_area_name_\xe9\x9d\x92\xe5\xb1\xb1',
       'small_area_name_\xe6\x96\xb0\xe5\xae\xbf',
       'small_area_name_\xe8\xb5\xa4\xe5\x9d\x82',
       'small_area_name_\xe9\xb9\xbf\xe5\x85\x90\xe5\xb3\xb6',
       'small_area_name_\xe5\x85\xab\xe7\x8e\x8b\xe5\xad\x90\xe4\xbb\x96',
       'small_area_name_\xe9\x95\xb7\xe5\xb4\x8e',
       'small_area_name_\xe4\xbd\x90\xe8\xb3\x80',
       'small_area_name_\xe5\x90\x89\xe7\xa5\xa5\xe5\xaf\xba',
       'small_area_name_\xe5\x93\x81\xe5\xb7\x9d',
       'small_area_name_\xe5\xb1\xb1\xe6\xa2\xa8',
       'small_area_name_\xe9\xab\x98\xe7\x9f\xa5',
       'small_area_name_\xe5\xb7\x9d\xe5\xb4\x8e',
       'small_area_name_\xe7\x86\x8a\xe6\x9c\xac',
       'small_area_name_\xe6\xb8\x8b\xe8\xb0\xb7',
       'small_area_name_\xe5\xae\xae\xe5\xb4\x8e', 'CAPSULE_TEXT_Beauty',
       'CAPSULE_TEXT_Class', 'CAPSULE_TEXT_Correspondence course',
       'CAPSULE_TEXT_Delivery service', 'CAPSULE_TEXT_Event',
       'CAPSULE_TEXT_Food', 'CAPSULE_TEXT_Gift card',
       'CAPSULE_TEXT_Guest house', 'CAPSULE_TEXT_Hair salon',
       'CAPSULE_TEXT_Health and medical', 'CAPSULE_TEXT_Hotel',
       'CAPSULE_TEXT_Japanese hotel', 'CAPSULE_TEXT_Japanse guest house',
       'CAPSULE_TEXT_Leisure', 'CAPSULE_TEXT_Lesson', 'CAPSULE_TEXT_Lodge',
       'CAPSULE_TEXT_Nail and eye salon', 'CAPSULE_TEXT_Other',
       'CAPSULE_TEXT_Public hotel', 'CAPSULE_TEXT_Relaxation',
       'CAPSULE_TEXT_Resort inn', 'CAPSULE_TEXT_Spa',
       'CAPSULE_TEXT_Vacation rental', 'CAPSULE_TEXT_Web service',
       'GENRE_NAME_Beauty', 'GENRE_NAME_Delivery service',
       'GENRE_NAME_Food', 'GENRE_NAME_Gift card', 'GENRE_NAME_Hair salon',
       'GENRE_NAME_Health and medical',
       'GENRE_NAME_Hotel and Japanese hotel', 'GENRE_NAME_Leisure',
       'GENRE_NAME_Lesson', 'GENRE_NAME_Nail and eye salon',
       'GENRE_NAME_Other coupon', 'GENRE_NAME_Relaxation',
       'GENRE_NAME_Spa', 'large_area_name_\xe4\xb8\xad\xe5\x9b\xbd',
       'large_area_name_\xe4\xb9\x9d\xe5\xb7\x9e\xe3\x83\xbb\xe6\xb2\x96\xe7\xb8\x84',
       'large_area_name_\xe5\x8c\x97\xe4\xbf\xa1\xe8\xb6\x8a',
       'large_area_name_\xe5\x8c\x97\xe6\xb5\xb7\xe9\x81\x93',
       'large_area_name_\xe5\x9b\x9b\xe5\x9b\xbd',
       'large_area_name_\xe6\x9d\xb1\xe5\x8c\x97',
       'large_area_name_\xe6\x9d\xb1\xe6\xb5\xb7',
       'large_area_name_\xe9\x96\xa2\xe6\x9d\xb1',
       'large_area_name_\xe9\x96\xa2\xe8\xa5\xbf',
       'ken_name_\xe4\xb8\x89\xe9\x87\x8d\xe7\x9c\x8c',
       'ken_name_\xe4\xba\xac\xe9\x83\xbd\xe5\xba\x9c',
       'ken_name_\xe4\xbd\x90\xe8\xb3\x80\xe7\x9c\x8c',
       'ken_name_\xe5\x85\xb5\xe5\xba\xab\xe7\x9c\x8c',
       'ken_name_\xe5\x8c\x97\xe6\xb5\xb7\xe9\x81\x93',
       'ken_name_\xe5\x8d\x83\xe8\x91\x89\xe7\x9c\x8c',
       'ken_name_\xe5\x92\x8c\xe6\xad\x8c\xe5\xb1\xb1\xe7\x9c\x8c',
       'ken_name_\xe5\x9f\xbc\xe7\x8e\x89\xe7\x9c\x8c',
       'ken_name_\xe5\xa4\xa7\xe5\x88\x86\xe7\x9c\x8c',
       'ken_name_\xe5\xa4\xa7\xe9\x98\xaa\xe5\xba\x9c',
       'ken_name_\xe5\xa5\x88\xe8\x89\xaf\xe7\x9c\x8c',
       'ken_name_\xe5\xae\xae\xe5\x9f\x8e\xe7\x9c\x8c',
       'ken_name_\xe5\xae\xae\xe5\xb4\x8e\xe7\x9c\x8c',
       'ken_name_\xe5\xaf\x8c\xe5\xb1\xb1\xe7\x9c\x8c',
       'ken_name_\xe5\xb1\xb1\xe5\x8f\xa3\xe7\x9c\x8c',
       'ken_name_\xe5\xb1\xb1\xe5\xbd\xa2\xe7\x9c\x8c',
       'ken_name_\xe5\xb1\xb1\xe6\xa2\xa8\xe7\x9c\x8c',
       'ken_name_\xe5\xb2\x90\xe9\x98\x9c\xe7\x9c\x8c',
       'ken_name_\xe5\xb2\xa1\xe5\xb1\xb1\xe7\x9c\x8c',
       'ken_name_\xe5\xb2\xa9\xe6\x89\x8b\xe7\x9c\x8c',
       'ken_name_\xe5\xb3\xb6\xe6\xa0\xb9\xe7\x9c\x8c',
       'ken_name_\xe5\xba\x83\xe5\xb3\xb6\xe7\x9c\x8c',
       'ken_name_\xe5\xbe\xb3\xe5\xb3\xb6\xe7\x9c\x8c',
       'ken_name_\xe6\x84\x9b\xe5\xaa\x9b\xe7\x9c\x8c',
       'ken_name_\xe6\x84\x9b\xe7\x9f\xa5\xe7\x9c\x8c',
       'ken_name_\xe6\x96\xb0\xe6\xbd\x9f\xe7\x9c\x8c',
       'ken_name_\xe6\x9d\xb1\xe4\xba\xac\xe9\x83\xbd',
       'ken_name_\xe6\xa0\x83\xe6\x9c\xa8\xe7\x9c\x8c',
       'ken_name_\xe6\xb2\x96\xe7\xb8\x84\xe7\x9c\x8c',
       'ken_name_\xe6\xbb\x8b\xe8\xb3\x80\xe7\x9c\x8c',
       'ken_name_\xe7\x86\x8a\xe6\x9c\xac\xe7\x9c\x8c',
       'ken_name_\xe7\x9f\xb3\xe5\xb7\x9d\xe7\x9c\x8c',
       'ken_name_\xe7\xa5\x9e\xe5\xa5\x88\xe5\xb7\x9d\xe7\x9c\x8c',
       'ken_name_\xe7\xa6\x8f\xe4\xba\x95\xe7\x9c\x8c',
       'ken_name_\xe7\xa6\x8f\xe5\xb2\xa1\xe7\x9c\x8c',
       'ken_name_\xe7\xa6\x8f\xe5\xb3\xb6\xe7\x9c\x8c',
       'ken_name_\xe7\xa7\x8b\xe7\x94\xb0\xe7\x9c\x8c',
       'ken_name_\xe7\xbe\xa4\xe9\xa6\xac\xe7\x9c\x8c',
       'ken_name_\xe8\x8c\xa8\xe5\x9f\x8e\xe7\x9c\x8c',
       'ken_name_\xe9\x95\xb7\xe5\xb4\x8e\xe7\x9c\x8c',
       'ken_name_\xe9\x95\xb7\xe9\x87\x8e\xe7\x9c\x8c',
       'ken_name_\xe9\x9d\x92\xe6\xa3\xae\xe7\x9c\x8c',
       'ken_name_\xe9\x9d\x99\xe5\xb2\xa1\xe7\x9c\x8c',
       'ken_name_\xe9\xa6\x99\xe5\xb7\x9d\xe7\x9c\x8c',
       'ken_name_\xe9\xab\x98\xe7\x9f\xa5\xe7\x9c\x8c',
       'ken_name_\xe9\xb3\xa5\xe5\x8f\x96\xe7\x9c\x8c',
       'ken_name_\xe9\xb9\xbf\xe5\x85\x90\xe5\xb3\xb6\xe7\x9c\x8c'], dtype=object)

In [47]:
big_train.to_csv('big_train.csv')